.todo-input {
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    margin-bottom:25px;
}

.todo-input input {
    border-radius: 0px;
}
ol.todos input[type="checkbox"] {
    margin-right: 10px;
    background: #FF5722;
}

ol.todos {
     list-style: number; 
}

ol.todos li {
    background:#fff;
    margin-top:5px; 
    padding:5px;
    cursor: pointer;
    /* border: 1px solid #FF5722; */
    font-weight: bold;
}

.todo-filter {
    margin-bottom: 15px;
}

.btn {
    border-radius: 0px;
}

.btn-shopee {
    padding: 4px 16px;
    color:#fff;
    background: #FF5722;
    border:2px solid #FF5722;
}
.delete {
    background:#FF5722;
    color:#fff;
    padding: 2px 5px 0px 5px;
    border-radius: 3px;
}

.item-btn {
    padding-left: 10px;
    border-left:1px solid #FF5722;
}

.btn-shopee:hover{
    color:#fff;
}

.padding-0 {
    padding:0px;
}